# @see: http://editorconfig.org

root = true

[*] # Applies to all files
charset = utf-8 # Set file character encoding to utf-8
end_of_line = lf # Control line ending type (lf | cr | crlf)
insert_final_newline = true # Always insert a new line at end of file
indent_style = space # Indentation style (tab | space)
indent_size = 2 # Indentation size
max_line_length = 100 # Maximum line length

[*.md] # Rules only apply to md files
insert_final_newline = false # Disable new line insertion at end of file
max_line_length = off # Disable maximum line length limit
trim_trailing_whitespace = false # Disable trailing whitespace trimming
