@import 'tailwindcss';

@theme {
  /** Base configuration rewrite */

  /** Custom configuration */
  --color-main: #333; /** Main text */
  --color-secondary: #999; /** Secondary text */
  --color-disabled: #ddd; /** Disabled text */
  --color-white: #fff;
  --color-red: #e23; /** Theme color/strong prompt */
  --color-link: #09f; /** Link/information */
}
